HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/src/main/resources/application.properties



/app/.DS_Store
/app/node_modules
/app/build
/app/.svelte-kit
/app/package
/app/.env
/app/.env.*
/app/!.env.example
/app/vite.config.js.timestamp-*
/app/vite.config.ts.timestamp-*
